.App {
  text-align: center;
}

* {
  font-size: 1.1rem;
  font-family: monospace;
}

button * {
  font-size: 1.5rem;
}

.button {
  background-color: red;
}

.item {
  min-width: 200px;
  max-width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover {
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.logbox {
  border: 3px solid red;
  padding: 10px;
  margin: 20px;
  min-width: 850px;
  max-width: 850px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid {
  border: 3px solid red;
  padding: 10px;
  margin: 20px;
  min-height: 120px;
  min-width: 850px;
  max-width: 850px;
}

.round-header {
  font-size: 1.5rem;
  font-weight: bold;
}